.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.navLink {
  font-weight: 600;
  letter-spacing: 1.1px;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: var(--brand-green);
  }
}