/* Container styles to align cards horizontally */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: auto;
  gap: 1rem;
  @media(min-width: 1024px) {
    gap: 0;
    height: 450px;
    flex-direction: row;
  }
  &:not(:hover) {
    .middle {
      background-color: var(--brand-green);
      height: 450px;
      img {
        visibility: visible !important;
        opacity: 1 !important;
        margin-top: 0px !important;
      }
    }
  }
  .card {
    flex: 1;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 2rem 2rem 3rem;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-end;
    overflow: hidden;
    height: 300px;
    position: relative;
    img {
      transition: all 0.3s ease;
      position: absolute;
      top: 0px;
      right: 0px;
      display: none;
      @media(min-width: 1024px) {
        display: block;
      }
    }
    &:not(:hover) {
      img {
        visibility: hidden;
        opacity: 0;
        margin-top: -75px;
      }
      .middle {
        background-color: #f5f5f5 !important;
      }
    }
    &:hover {
      background-color: var(--brand-green);
      height: 450px;
      img {
        visibility: visible !important;
        opacity: 1;
        margin-top: 0px;
      }
    }
    &.left {
      @media(min-width: 1024px) {
        border-bottom-right-radius: 0px;
      }
    }
    &.right {
      @media(min-width: 1024px) {
        border-bottom-left-radius: 0px;
      }
    }
    &.middle {
      @media(min-width: 1024px) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
    .button {
      transition: all 0.2s ease;
      margin-top: 1rem;
      &:hover {
        color: #FFF;
      }
    }
  }
}