.btn {
  display: inline-block;
  border-radius: 25px;
  background: var(--brand-green);
  border: 1px solid var(--brand-green);
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.1px;
  &:hover {
    background-color: rgba(255, 255, 255, 0);
    color: var(--brand-green);
    border: 1px solid var(--brand-green);
  }
}

.btn.outlined {
  background: #fff;
  color: #171717;
  border: 1px solid #171717;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #171717;
    color: #FFF;
    border: 1px solid #171717;
  }
}

.btn-sm {
  font-size: 0.85rem;
  padding-inline: 1.1rem;
  line-height: 2;
}

.btn-md {
  font-size: 1rem;
  padding-inline: 1.5rem;
  line-height: 3;
}

.btn-lg {
  font-size: 1.15rem;
  padding-inline: 2.2rem;
  line-height: 4;
}

.btn:active {
  opacity: 0.85;
}
