.cloudShape {
  width: 100%;
  max-width: 1280px;
  height: 500px;
  margin-top: 3.5rem;
  background: 
    url("../../_assets/images/orange-clouds.webp") lightgray 50% / cover no-repeat, 
    linear-gradient(90deg, #FFEFDF 0%, #F3A660 100%);
  position: relative;
  outline: 10px solid #fff;
  border-radius: 25px;
}

.imageContainer {
  position: absolute;
  left: 65%;
  transform: translateX(-50%) translateY(0);
  width: 552px;
  height: 571px;
  bottom: 0px;
  animation: moveX 2s ease-in-out infinite alternate;
}

.michelin {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 100px;
  margin-top: 50px;
  background-color: #A41F23;
  outline: 10px solid #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .cornerBottomLeft {
    position: absolute;
    bottom: -1px;
    left: -38px;
  }
  .cornerTopRight {
    position: absolute;
    right: -1px;
    top: -38px;
  }
}

@keyframes moveX {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + 20px)); /* adjust distance as needed */
  }
}