.cloudShape {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin-top: 1.5rem;
  background: 
    url("../../_assets/images/orange-clouds.webp") lightgray 50% / cover no-repeat, 
    linear-gradient(90deg, #FFEFDF 0%, #F3A660 100%);
  position: relative;
  outline: 10px solid #fff;
  border-radius: 25px;
  @media(min-width: 1024px) {
    margin-top: 3.5rem;
    height: 500px;
  }
}

.imageContainer {
  position: absolute;
  left: 65%;
  transform: translateX(-50%) translateY(0);
  width: 552px;
  height: 571px;
  bottom: 0px;
  display: none;
  animation: moveX 2s ease-in-out infinite alternate;
  @media(min-width: 1024px) {
    display: block;
  }
}

.michelin {
  position: relative;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 100px;
  margin-top: 0px;
  background-color: #A41F23;
  outline: 10px solid #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  @media(min-width: 1024px) {
    position: absolute;
    margin-top: 50px;
  }
  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .cornerBottomLeft {
    position: absolute;
    bottom: -1px;
    left: -38px;
  }
  .cornerTopRight {
    position: absolute;
    right: -1px;
    top: -38px;
  }
}

.introContainer {
  padding-left: 0;
  text-align: center;
  padding: 4rem 2rem;
  @media(min-width: 1024px) {
    text-align: left;
    padding-left: 6rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .firstTitle {
    font-size: 20px;
  }
  .mainTitle {
    font-size: 48px;
    @media(min-width: 1024px) {
      font-size: 64px;
    }
  }
  .subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

@keyframes moveX {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + 20px)); /* adjust distance as needed */
  }
}