.shopCover {
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 1rem;
  img {
    object-fit: cover;
  }
  .coverCountry {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #000;
    mix-blend-mode: soft-light;
    font-size: 12rem;
    font-weight: 600;
    line-height: 0.75;
  }
}