.heroContainer {
  border-radius: 25px;
  background-color: aliceblue;
  padding: 4rem 1rem 0rem;
  @media(min-width: 1024px) {
    padding: 2rem 4rem 0rem;
  }
  h3 {
    font-size: 20px;
    display: none;
    @media(min-width: 1024px) {
      display: block;
    }
  }
  h1 {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 1rem;
    @media(min-width: 1024px) {
      font-size: 64px;
    }
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    position: relative;
    max-width: auto;
  }
}

.OurStory {
  border-radius: 25px;
  background-color: #fff;
  margin-right: 0rem;
  padding: 1rem;
  position: relative;
  z-index: 1;
  @media(min-width: 1024px) {
    margin-right: -3rem;
    padding: 4rem;
  }
  h4 {
    font-size: 3rem;
    span {
      font-size: 6rem;
    }
  }
}
.OurIngredients {
  h4 {
    font-size: 4rem;
    @media(min-width: 1024px) {
      font-size: 5rem;
  }
  }
}